<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>url-shortener</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cyborg/bootstrap.min.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
  <div class="container d-flex flex-column align-items-center mt-5">
    <h1><a href="/" id="home">URL Shortener</a></h1>
    <img src="./img/url-shortener-logo.png" id="logo" alt="logo">
    {{{body}}}
  </div>

</body>

</html>