{{#if createLinkSuccess}}
<h2>Link shortening successful! Visit your website at <a href={{{shortenLink}}}>localhost:3000/{{{shortenLink}}}</a>
</h2>
<h2>Click URL Shortener or <a href="/">me</a> to create another one!</h2>
{{else}}
<form action="/api/item" method="POST" class="form-group w-100 text-center">
  <input type="url" name="link" class="form-control col-6 m-auto"
    placeholder="please input your website...(e.g. https://www.google.com)">
  <button type="submit" class="btn btn-lg btn-primary mt-1">Shorten!</button>
</form>
{{/if}}